transformers
torch
#flash_attn
accelerate
pillow
opencv-python
openai
pysrt
sentencepiece
av
matplotlib
pandas
numpy
datasets
python-dotenv
wandb
rouge_score
nltk
scikit-learn
bitsandbytes
bert_score
huggingface_hub[hf_xet]
qwen-vl-utils
livecc-utils
liger_kernel
flash_attn