transformers
torch
peft
opencv-python
accelerate
pillow
openai
pysrt
sentencepiece
av
matplotlib
pandas
numpy
datasets
python-dotenv
wandb
rouge_score
nltk
scikit-learn
bitsandbytes
bert_score
huggingface_hub[hf_xet]
qwen-vl-utils
liger_kernel
flash_attn